@import "./colors.css";

#root {
  height: 100%;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--app-bg);
}

.header {
  margin-bottom: 32px;
  font-size: 32px;
  font-weight: 600;
  color: var(--start-btn-text);
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 504px;
  height: fit-content;
}

.game-field {
  background-color: var(--field-pixel);
  border: 2px solid var(--field-boarder);
  border-radius: 8px;
  margin: 16px 0 32px 0;
}

.game-field.start {
  border: 2px solid var(--start-btn-bg);
}

.game-field.game-over {
  border: 2px solid var(--dialog-game-over-title);
}

.field-row {
  display: flex;
}

@media screen and (max-width: 768px) {
  html,
  body {
    overflow: hidden;
    overscroll-behavior: none;
  }

  .header {
    position: fixed;
    top: 32px;
  }

  main {
    width: fit-content;
  }
}
